<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>Mastery Shop</title>
</head>
<body>

  <div class="nav-bar"></div>
  <div id="app">
    <div class="cart">
      <p>Cart({{cart.length}})</p>
    </div>
    <product :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeFromCart"></product>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>